@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto+Slab:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f6fa;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

h1 {
  color: #0290ff;
  font-size: 1.8rem;
}

ul {
  list-style: none;
}

a {
  font-size: 0.8rem;
  text-decoration: none;
  color: #07070781;
  text-transform: uppercase;
  margin-left: 2.5rem;
}

a:hover {
  color: #121212;
}

.header {
  padding: 1.3rem 6.25rem;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  background-color: #fff;
  border-bottom: solid 1px #e8e8e8;
  box-shadow: 0 0 3px #888;
}

.active {
  color: #121212;
}

.avatar {
  color: #0290ff;
  margin-left: auto;
  border: 1px solid #e8e8e8;
  border-radius: 50%;
  padding: 0.5rem 0.7rem;
}

.btn {
  border: none;
  background-color: #0290ff;
  cursor: pointer;
  color: #fff;
  padding: 0.43rem 1.37rem;
  border-radius: 3px;
}

.btn:hover {
  background-color: #0291ff79;
}

/* BookList */
.card {
  background-color: #fff;
  font-family: 'Roboto Slab', serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 6.25rem;
  padding: 1.5rem 2.6rem;
  font-size: 0.87rem;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
}

.category {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #12121279;
  font-size: 0.87rem;
}

.title {
  font-size: 1.37rem;
}

.author {
  color: #4fb1fc;
}

.buttons {
  margin: 1.31rem 0;
}

.buttons button {
  margin-right: 0.93rem;
  color: #4fb1fc;
  border: none;
  cursor: pointer;
  font-family: 'Roboto Slab', serif;
  background-color: transparent;
}

.progress {
  align-items: center;
}

.number-progress {
  font-size: 2rem;
}

.number-progress span {
  font-size: 0.87rem;
  color: #12121275;
  font-family: 'Montserrat', sans-serif;
}

.current-chapter {
  color: #12121275;
}

.chapter {
  margin: 0.5rem 0;
  color: #121212;
}

/* ADDBOOK */
.add-book {
  border-top: 2px solid #e8e8e8;
  margin: 3rem 6.25rem;
  padding-bottom: 4rem;
}

.add-book-title {
  color: #888;
  font-size: 1.25rem;
  font-family: 'Montserrat', sans-serif;
  margin: 1.8rem 0;
}

form {
  gap: 1rem;
}

input,
select,
button[type='submit'] {
  flex-grow: 1;
  height: 2.8rem;
  padding: 0 1rem;
  outline: none;
  font-size: 1rem;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
}

input {
  flex-grow: 2.5;
}

input,
select {
  color: #12121275;
}

::placeholder {
  color: #b3bac5;
}

.circular {
  width: 120px;
  height: 120px;
}

svg {
  width: 120px;
  height: 120px;
}

.circular circle {
  transform: rotate(-90deg) translate(10px, 10px);
  transform-origin: center;
  position: absolute;
  fill: none;
  stroke: #ddd;
  stroke-width: 10px;
}

.circular circle:nth-child(2) {
  stroke: #0290ff;
  stroke-dasharray: 320;
  stroke-dashoffset: 315;
}
