@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto+Slab:wght@300;400;700&display=swap');

/* font-family: 'Montserrat', sans-serif;
font-family: 'Roboto Slab', serif;
#e8e8e8 - silver
#121212 - black
#0290ff - blue
#c4c4c4 - placeholder
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 0 6.25rem;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

h1 {
  color: #0290ff;
  font-size: 1.8rem;
}

ul {
  list-style: none;
}

a {
  font-size: 0.8rem;
  text-decoration: none;
  color: #07070781;
  text-transform: uppercase;
  margin-left: 2.5rem;
}

a:hover {
  color: #121212;
}

.header {
  padding: 1.8rem 0;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}

.active {
  color: #121212;
}

.avatar {
  color: #0290ff;
  margin-left: auto;
}

.btn {
  border: none;
  background-color: #0290ff;
  cursor: pointer;
  color: #fff;
  padding: 0.43rem 1.37rem;
  border-radius: 5px;
}

.btn:hover {
  background-color: #0291ff79;
}

/* BookList */
.card {
  font-family: 'Roboto Slab', serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2.6rem;
  font-size: 0.87rem;
}

.category {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #12121279;
  font-size: 0.87rem;
}

.title {
  font-size: 1.37rem;
}

.author {
  color: #4fb1fc;
}

.buttons {
  margin: 1.31rem 0;
}

.buttons button {
  margin-right: 0.93rem;
  color: #4fb1fc;
  border: none;
  cursor: pointer;
  font-family: 'Roboto Slab', serif;
  background-color: transparent;
}

.progress {
  align-items: center;
}

.number-progress {
  font-size: 2rem;
}

.number-progress span {
  font-size: 0.87rem;
  color: #12121275;
  font-family: 'Montserrat', sans-serif;
}

.current-chapter {
  color: #12121275;
}

.chapter {
  margin: 0.5rem 0;
  color: #121212;
}
